.App {
  //font-family: "Josefin Sans";
}

.sidebar {
  height: 100%;
  width: 20%;
  background-color: #f5f6fA;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-size: 20px;
  transition: .5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sidebar .projectTitle {
  margin-bottom: 100px;
  margin-left: 30px;
  color: #000000;
  text-decoration: none;
}

.sidebar .item {
  color: #aaaeba;
  text-decoration: none;
  padding: 15px 0;
}

.item-icon {
  margin-left: 30px;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.item-icon img {
  height: 100%;
  vertical-align: text-top;
}

.item-text {
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
}

.item-text.active {
  color: black;
}

#content-wrapper {
  width: 80%;
  margin-left: 20%;
  padding: 0;
  min-height: 100vh;
  background-color: #f5f6fA;
}

.black-icon {
  filter: brightness(0) saturate(100%);
}

.title {
  text-align: left;
  margin: 15px 10px 40px;
}

.logTable {
  margin-bottom: 0;
}

.custom-input {
  width: 60px;
  display: inline-block;
  margin-left: 10px;
}

.custom-filter-btn {
  color: #5567FF;
  border-color: #5567FF;
  margin-left: 10px;
  vertical-align: baseline;
}

.custom-filter-btn:hover {
  background-color: #5567FF;
  border-color: #5567FF;
}

.custom-filter-btn:active {
  background-color: #5567FF;
  border-color: #5567FF;
}

.filter-container {
  margin-bottom: 20px;
}

.add-filter-btn, .number-row-filter-container {
  margin-bottom: 20px;
}

.input-labels {
  text-align: right;
  margin-top: 7px;
}

.disabled {
  color: #aaaeba !important;
  border-color: #aaaeba;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
}

.form-error {
  text-align: left;
}

.row-number-error {
  padding-top: 10px;
}

.react-datetime-picker {
  padding: 0;
}

.react-datetime-picker .react-datetime-picker__wrapper {
  border-radius: 0.25rem;
  padding: 5px;
}

.graph-container {
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 25px 10px;
  margin-right: 10px;
}

.graph-title {
  text-align: left;
  font-size: 30px;
  margin-bottom: 30px;
}
/*******************************
 * Log Css
 *******************************/

.logs-container, .proximity-container, .report-container {
  background-color: white;
  width: auto;
  min-height: 70vh;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 15px;
}

.logs-filters-container {
  padding-top: 30px;
}

.logs-table-container {
  position: relative;
  padding-bottom: 50px;
}

/*******************************
 * Proximity / Report Css
 *******************************/

.proximity-filters-container, .report-filters-container {
  padding-top: 20px;
  padding-left: 5px;
}

.proximity-filter, .report-filter {
  width: auto;
  margin-bottom: 15px;
}

.proximity-score-container {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}

/*******************************
 * Report Css
 *******************************/

.report-filters-container {
  border-bottom: 1px solid #aaaeba;
}

.most-use-tokens {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 10px;
  background-color: #f5f6fA;
  border-radius: 10px;
}

.most-use-tokens th, .most-use-tokens td {
  padding: 0 10px;
}

.tokens-labels, .tokens-values {
  color: #aaaeba;
}

.tokens-counts {
  color: #5567ff;
  font-weight: 600;
}

/*******************************
 * Loader overlay
 *******************************/

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.loader-message {
  margin-left: 10px;
  font-size: 18px;
}

/*******************************
 * Generic table
 *******************************/

.nodata-table {
  background-color: #d9dbe0;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*******************************
 * Cytoscape
 *******************************/

.cytoscape-container {
  position: relative;
}

/*******************************
 * Tooltip
 *******************************/

.toolTip {
  position: absolute;
  top: 20px;
  left: 0;
  padding: 10px 20px;
  background-color: #f5f6fA;
  border-radius: 10px;
}

.toolTip-title {
  font-weight: bold;
}

.toolTip-entity {
  font-size: 18px;
  font-weight: bold;
}

.toolTip-value {
  font-size: 14px;
  color: #5567ff;
}

/*******************************
 * Legend
 *******************************/

.legend {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: #F5F6FA;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 400;
}

.legend-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.hint-container {
  display: flex;
  margin-bottom: 7px;
}

.hint {
  display: inline-block;
  border-radius: 15px;
}

.hint-edge {
  margin-left: 3px;
  margin-right: 14px;
  color: #AAAEBA;
}

.hint-node {
  width: 24px;
  margin-right: 10px;
}

.hint-label {
  display: inline-block;
  font-size: 16px;
}

.hint-orange {
  background-color: #F24E1E;
}

.hint-green {
  background-color: #4ECB71;
}

.hint-gray {
  padding-left: 7px;
  background-color: #C4C4C4;
}